[submodule ".local/share/nvim/site/pack/plugins/start/coc.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/vim-go"]
	path = .local/share/nvim/site/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/vim-es7"]
	path = .local/share/nvim/site/pack/plugins/start/vim-es7
	url = https://github.com/kern/vim-es7
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-web-devicons"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons/
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/onenord.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/onenord.nvim
	url = https://github.com/rmehri01/onenord.nvim
	branch = master
