[submodule ".local/share/nvim/site/pack/plugins/start/vim-go"]
	path = .local/share/nvim/site/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/vim-es7"]
	path = .local/share/nvim/site/pack/plugins/start/vim-es7
	url = https://github.com/kern/vim-es7
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-web-devicons"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons/
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/onenord.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/onenord.nvim
	url = https://github.com/rmehri01/onenord.nvim
	branch = main
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-tree.lua"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/bufferline.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/coc.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule ".local/share/nvim/site/pack/plugins/start/blazer.vim"]
	path = .local/share/nvim/site/pack/plugins/start/blazer.vim
	url = https://github.com/APZelos/blamer.nvim
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/lualine.vim"]
	path = .local/share/nvim/site/pack/plugins/start/lualine.vim
	url = https://github.com/nvim-lualine/lualine.nvim
	branch = master
[submodule "/Users/Roberto.Plaza/.local/share/nvim/site/pack/plugins/start/zig.vim"]
	path = /Users/Roberto.Plaza/.local/share/nvim/site/pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
